{{ define "main" }}
<div class="card mb-5">
  <!-- {{ if .Params.images }}
    <img src="{{ index .Params.images 0 }}" class="card-img-top w-100" alt="...">
  {{ end }} -->
  <div class="card-body">
    {{ if .Title }}
    <h3 class="card-title">{{ .Title }}</h3>
    {{ end }}
    <div class="mb-3">
      <span class="post-meta">
        <i class="fa-regular fa-calendar"></i>
        <time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      </span>
      <span class="reading-time">
        <i class="fa-solid fa-stopwatch"></i>
        {{ $readingTime := .ReadingTime }}
        {{ $minutes := div $readingTime "1m" | printf "%.0f" }}

        {{ if eq $minutes 1 }}
            {{ $minutes }} minute
        {{ else }}
            {{ $minutes }} minutes
        {{ end }}
      </span>
    </div>
    <div class="single-post-content">
      {{ .Content }}
    </div>
    
  </div>
</div>

{{ end }}