{{ define "main" }}
<div class="card mb-5">
  <!-- {{ if .Params.images }}
    <img src="{{ index .Params.images 0 }}" class="card-img-top w-100" alt="...">
  {{ end }} -->
  <div class="card-body">
    {{ if .Title }}
    <h3 class="card-title">{{ .Title }}</h3>
    {{ end }}
    <div class="mb-3">
      <span class="post-meta">
        <i class="fa-regular fa-calendar"></i>
        <time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      </span>
      <span class="reading-time ml-2">
        <i class="fa-solid fa-stopwatch"></i>
        {{ $readingTime := .ReadingTime }}

        {{ if eq $readingTime 1 }}
            {{ $readingTime }} minute to read
        {{ else }}
            {{ $readingTime }} minutes to read
        {{ end }}
      </span>
    </div>
    <div class="single-post-content" id="my-gallery">
      {{ .Content }}
    </div>
    
  </div>
</div>


  {{ if .Site.Params.include_conversation }}
    <div class="card">
      <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
	  </div>	
  {{ end }}
		<hr class="my-3">
		{{ partial "conversation-link.html" . }}
  		
{{ end }}