{{ define "main" }}
<h2>Archive</h2>

{{ $list := (where .Site.Pages "Type" "post") }}
<ul class="sessions list-unstyled">
  {{ range $list }}
  <li class="timeline-line">
    <div class="time">
      <a href="{{ .Permalink }}" class="u-url">
        <time class="dt-published" datetime="{{ .Date.Format " 2006-01-02T15:04:05-0700" }}">{{ .Date.Format
          "2006-01-02" }}</time>
      </a>
    </div>
    <span class="p-summary"></span>
    <p class="timeline-text">{{ if .Title }}<b>{{.Title}}</b> {{ end }}{{ .Summary | truncate 100 }}</p>
  </li>
  {{ end }}
</ul>
{{ end }}