{{ define "main" }}

<div class="spinner-border text-primary" id="photo-spinner" role="status">
</div>
<div class="grid" style="display: none;">
  {{- $list := where .Site.Pages ".Params.photos" "!=" nil -}}
	{{- $len := (len $list) -}}
	{{ range $index, $value := $list }}
    <div class="grid-item">
      <a href="{{ .Permalink }}">
        {{ range first 1 .Params.photos }}
				  <img src="{{ . }}" class="photos-grid-item w-100" loading="lazy" />
			  {{ end }}
      </a>
    </div>
  {{ end }}
</div>

{{ end }}