{{ define "main" }}

<!-- <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'> -->
<div class="spinner-border text-primary" id="photo-spinner" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="grid">
  {{- $list := where .Site.Pages ".Params.photos" "!=" nil -}}
	{{- $len := (len $list) -}}
	{{ range $index, $value := $list }}
    <div class="grid-item">
      <a href="{{ .Permalink }}">
        {{ range first 1 .Params.photos }}
				  <img src="{{ . }}" class="photos-grid-item w-100" loading="lazy" />
			  {{ end }}
      </a>
    </div>
  {{ end }}
</div>

{{ end }}