{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}

{{ if gt (len $list) 0 }}
<div class="archive_categories">
  <h5>Categories</h5>
  <div class="mb-2 d-flex flex-wrap">
    {{ range $list }}
    <h5>
      <a href="{{ .Permalink }}">
        <span class="badge badge-primary">{{ .Title }}</span>
      </a>
    </h5>
    {{ end }}
  </div>
</div>
{{ end }}


<!-- <div class="archive_years">
  {{ range $list }}
    {{ .Date.Format "2006" }}
  {{ end }}
</div> -->

{{ $list := (where .Site.Pages "Type" "post") }}
{{ $years := slice }}

{{ range $list }}
    {{ $year := .Date.Format "2006" }}
    {{ if not (in $years $year) }}
        {{ $years = $years | append $year }}
    {{ end }}
{{ end }}

<div class="archive_years">
  {{ range $index, $year := sort $years }}
    {{ if ne $index 0 }}, {{ end }}
    {{ $year }}
  {{ end }}
</div>