<div class="d-flex p-2">
    <a href="/">
        <img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Author.name }}" width="128" height="128" class="rounded-circle">
    </a>
</div>

<div class="d-flex p-2">
    <a href="/">
        <h5 class="card-title mb-0">{{ .Site.Title }}</h5>
    </a>
</div>

{{- if .Site.Params.showTagline -}}
<div class="p-2">
    <h6 class="mb-0">{{ .Site.Params.tagline }}</h6>
</div>
{{- end -}}

<div class="p-2 d-flex justify-content-start flex-wrap social-icons">
    {{ partial "social-icons.html" . }}
</div>

<ul class="nav flex-column p-2">
    {{ $url := .RelPermalink }}<!-- we will need this to determine if links are active -->
        {{ range .Site.Menus.main }}
        <li class="nav-item">
              {{ if .Page.Params.redirect }}
                <a class="nav-link pl-0 {{ if eq .URL $url }}active{{ end }}"
            href="{{ .Page.Params.redirect }}">{{ .Name }}</a>
              {{ else }}
                  <a class="nav-link pl-0 {{ if eq .URL $url }}active{{ end }}"
            href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
              {{ end }}
        </li>
        {{ end }}
    </ul>