{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}

<div class="search_bar">
  <form class="input-group" onsubmit="return false;">
    <input type="text" class="form-control" name="q" id="input_search" placeholder="Search for something..." onchange="submitSearch(this.value.toLowerCase());" aria-label="search" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="button-addon2" onclick="submitSearch(this.value.toLowerCase());">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>
</div>

<div id="parent_results" class="position-absolute start-0" style="display: none; background-color: white; border: 1px solid #ced4da; border-top: none; border-radius: 0 0 0.5rem 0.5rem; width: 100%; z-index:1000;">
  <div class="list-group list-group-flush" id="list_results">

  </div>
</div>

{{ if gt (len $list) 0 }}
<div class="archive_categories mt-4 mb-4">
  <h5>Categories</h5>
  <div class="mb-2 d-flex flex-wrap">
    {{ range $list }}
    <h5>
      <a href="{{ .Permalink }}">
        <span class="badge badge-primary">{{ .Title }}</span>
      </a>
    </h5>
    {{ end }}
  </div>
</div>
{{ end }}

{{ $list := (where .Site.Pages "Type" "post") }}
{{ $years := slice }}

{{ range $list }}
    {{ $year := .Date.Format "2006" }}
    {{ if not (in $years $year) }}
        {{ $years = $years | append $year }}
    {{ end }}
{{ end }}

<div class="archive_years mb-4">
  <h5>Archives</h5>
  <ul class="list-group">
  {{ range $index, $year := sort $years }}
    <a href="#" class="list-group-item list-group-item-action">{{ $year }}</a>
  {{ end }}
  </ul>
</div>
