{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}

<div class="search_bar">
  <form class="input-group" onsubmit="return false;">
    <input type="text" class="form-control" name="q" id="input_search" placeholder="Search..." onchange="submitSearch(this.value.toLowerCase());" aria-label="search" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="button-addon2" onclick="submitSearch(this.value.toLowerCase());">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>
</div>

<div id="parent_results" class="position-absolute start-0" style="display: none; background-color: white; border: 1px solid #ced4da; border-top: none; border-radius: 0 0 0.5rem 0.5rem; width: 100%; z-index:1000;">
  <div class="list-group list-group-flush" id="list_results">

  </div>
</div>

{{ with .Site.Params.lastfmUsername }}
  {{ if ne . "" }}
  <a href="https://last.fm/user/{{ . }}" target="_blank">
    <h5 class="mt-4">Listening <i class="fa-solid fa-square-up-right"></i></h5>
  </a>
    
  <div class="card mb-4">
    <img src="{{ "img/note.png" | relURL }}" alt="Album Art" class="card-img" id="last-fm-art-side">
    <div class="card-img-overlay">
      <div class="spinner-overlay" id="spinner-overlay-side">
        <div class="spinner"></div>
      </div>
      <div class="text-center card-img-album-info">
        <h6 id="last-fm-title-side"></h6>
        <p id="last-fm-artist-side" class="mb-0"></p>
      </div>
    </div>
  </div>
  {{ end }}
{{ end }}

{{- if .Site.Params.showCurrentlyReading -}}
{{ $books := .Site.Data.bookshelves.currentlyreading }}
{{ index $books 0 "cover_url" }}

{{ if gt (len $books) 0 }}
  <h5 class="mt-4">
    <a href="https://micro.blog/books/{{ index $books 0 "isbn" }}">
      Reading <i class="fa-solid fa-square-up-right"></i>
    </a>
  </h5>
    <div class="card mb-4">
      <img src="https://micro.blog/books/{{ index $books 0 "isbn" }}" alt="Book Art" class="card-img">
      <div class="card-img-overlay">
        <div class="text-center card-img-album-info">
          <h6 class="">{{  index $books 0 "title" }}</h6>
          <p class="mb-0">{{ index $books 0 "author" }}</p>
        </div>
      </div>
    </div>
{{ end }}
{{ end }}

{{- if .Site.Params.categoriesInSidebar -}}
{{ if gt (len $list) 0 }}
<div class="archive_categories mt-4 mb-4">
  <h5>Categories</h5>
  <div class="mb-2 d-flex flex-wrap">
    {{ range $list }}
    <h5>
      <a href="{{ .Permalink }}">
        <span class="badge badge-primary">{{ .Title }}</span>
      </a>
    </h5>
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}

{{- if .Site.Params.archivesInSidebar -}}
{{ $list := (where .Site.Pages "Type" "post") }}
{{ $years := slice }}

{{ range $list }}
    {{ $year := .Date.Format "2006" }}
    {{ if not (in $years $year) }}
        {{ $years = $years | append $year }}
    {{ end }}
{{ end }}

<div class="archive_years mb-4">
  <h5>Archives</h5>
  <ul class="list-group">
  {{ range $index, $year := sort $years }}
    <a href="/archive#{{ $year }}" class="list-group-item list-group-item-action">{{ $year }}</a>
  {{ end }}
  </ul>
</div>
{{ end }}