{{ with .Site.Params.twitter_username }}
{{ if ne . "" }}
<a class="icon-link" href="https://x.com/{{ . }}" target="_blank">
    <i class="fa-brands fa-square-x-twitter fa-xl" style="width: 19px;"></i>
</a>
{{ end }}
{{ end }}

{{ with .Site.Params.threadsUsername }}
{{ if ne . "" }}
<a class="icon-link" href="https://threads.net/{{ . }}" target="_blank">
    <i class="fa-brands fa-square-threads fa-xl"></i>
</a>
{{ end }}
{{ end }}

{{ with .Site.Params.github_username }}
{{ if ne . "" }}
<a class="icon-link" href="https://github.com/{{ . }}" target="_blank">
    <i class="fa-brands fa-square github fa-xl"></i>
</a>
{{ end }}
{{ end }}

{{ with .Site.Params.instagram_username }}
{{ if ne . "" }}
<a class="icon-link" href="https://instagram.com/{{ . }}" target="_blank">
    <i class="fa-brands fa-square-instagram fa-xl"></i>
</a>
{{ end }}
{{ end }}

{{ with .Site.Params.letterboxdUsername }}
{{ if ne . "" }}
<a class="icon-link" href="https://letterboxd.com/{{ . }}" target="_blank">
    <i class="fa-brands fa-square-letterboxd fa-xl"></i>
</a>
{{ end }}
{{ end }}

{{ with .Site.Params.lastfmUsername }}
{{ if ne . "" }}
<a class="icon-link" href="https://last.fm/user/{{ . }}" target="_blank">
    <i class="fa-brands fa-square-lastfm fa-xl"></i>
</a>
{{ end }}
{{ end }}

{{ with .Site.Params.blueskyUsername }}
{{ if ne . "" }}
<a class="icon-link" href="https://bsky.app/profile/{{ . }}" target="_blank">
    <i class="fa-brands fa-square-bluesky fa-xl"></i>
</a>
{{ end }}
{{ end }}

{{ with .Site.Params.pixelfedLink }}
{{ if ne . "" }}
<a class="icon-link" href="{{ . }}" target="_blank">
    <svg class="icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1034 1024" aria-label="Pixelfed">
        <path stroke="none" d="m517,3.69199q-137.68784,0 -257.41638,69.44255q-114.93939,68.24527 -181.98738,183.18468q-69.44255,118.53125 -69.44255,256.81769t69.44255,256.81781q67.04799,114.93939 181.98738,181.98737q119.72855,69.44257 257.41638,69.44257t257.41632,-69.44257q114.93945,-67.04797 181.98743,-181.98737q69.44257,-118.53125 69.44257,-256.81781t-69.44257,-256.81769q-67.04797,-114.93941 -181.98743,-183.18468q-119.72852,-69.44255 -257.41632,-69.44255zm-81.41544,310.09692l134.09598,0q43.10229,0 79.61951,20.95248t58.0683,56.27243t21.55115,77.82355t-21.55115,77.82358t-58.0683,56.2724t-79.61951,20.95251l-93.38828,0l-132.89865,126.91223l0,-347.21277q0,-37.11588 26.9389,-63.45615t65.25204,-26.34027z" fill="currentColor"/>
    </svg>
</a>
{{ end }}
{{ end }}
