{{ define "main" }}


<ul class="post-list pl-0">
  {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" |
  default 25) }}
  {{ range $paginator.Pages }}
  <!-- {{ .Params }} -->
  <div class="card {{ range .Params.categories }}{{ . }}{{ end }} mb-5">
    {{ if .Params.images }}
    <div style="max-height: 250px; overflow: hidden;">
      <img src="{{ index .Params.images 0 }}" class="card-img-top w-100" alt="...">
    </div>
    {{ end }}
    <div class="card-body">
      {{ .Params }}
      {{ if ne (len .Params.categories) 0 }}
      <div>
        {{ range .Params.categories }}
        <span class="badge badge-primary">{{ . }}</span>
        {{ end }}
      </div>
      {{ end }}
      {{ if .Title }}
      <h5 class="card-title">{{ .Title }}</h5>
      {{ end }}
      <div class="post-content">
        {{ .Content }}
      </div>
      <div>
        <a href="{{ .Permalink }}" class="u-url">
          <span class="post-meta">
            <time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan2, 2006" }}</time>
            <i class="fa-solid fa-arrow-right ml-2"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  {{ end }}
</ul>
{{ if .IsHome }}
<div class="pagination justify-content-center p-0 mb-4">
  {{ partial "pagination" . }}
</div>
{{ end }}
{{ end }}