.social-icons .icon-link:not(:last-child) {
    margin-right: 0.5rem;
}

.sticky-sidebar {
    position: sticky;
    top: 3rem;
    z-index: 1000;
}

.nav-link.active {
    text-decoration: underline;
}