.social-icons .icon-link:not(:last-child) {
    margin-right: 0.5rem;
}

.sticky-sidebar {
    position: sticky;
    top: 3rem;
    z-index: 1000;
}

.nav-link.active {
    text-decoration: underline;
}

.post-content img {
    display: none !important;
}

.mb-2.d-flex.flex-wrap > h4:not(:last-child) {
    margin-right: 0.5rem; 
}

.mb-2.d-flex.flex-wrap > h5:not(:last-child) {
    margin-right: 0.5rem; 
}