.social-icons .icon-link:not(:last-child) {
    margin-right: 0.5rem;
}

.sticky-sidebar {
    position: sticky;
    top: 3rem;
    z-index: 1000;
}

.nav-link.active {
    text-decoration: underline;
}

.post-content img {
    display: none !important;
}

.single-post-content img {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 0.5rem;
}

.mb-2.d-flex.flex-wrap > h4:not(:last-child) {
    margin-right: 0.5rem; 
}

.mb-2.d-flex.flex-wrap > h5:not(:last-child) {
    margin-right: 0.5rem; 
}

/* timeline */

@mixin tablet-and-up {
    @media screen and (min-width: 769px) { @content; }
}
@mixin mobile-and-up {
    @media screen and (min-width: 601px) { @content; }
}
@mixin tablet-and-down  {
    @media screen and (max-width: 768px) { @content; }
}
@mixin mobile-only {
    @media screen and (max-width: 600px) { @content; }
}

.sessions{
  border-radius: 12px;
  position: relative;
}
li.timeline-line{
  padding-bottom: 1.5rem;
  border-left: 1px solid #375E97;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  &:last-child{
    border: 0px;
    padding-bottom: 0;
  }
  &:before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #375E97;
    box-shadow: 3px 3px 0px #375E97;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
  }
}
.time{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  @include mobile-and-up{
    font-size: .9rem;
  }
  @include mobile-only{
    margin-bottom: .3rem;
    font-size: 0.85rem;
  }

}
p.timeline-text{
  line-height: 1.5;
  margin-top:0.4rem;
  @include mobile-only{
    font-size: .9rem;
  }
}

blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 3px solid;
}

blockquote p {
  margin-left: 0.5rem;
}